# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
*.env

# Streamlit
.streamlit/

# Ruff_cache
/.ruff_cache/

# ChromaDB data
/db/chroma_data/

# Keys and secrets
keys/*.env

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Assignment description
description.txt